<h1>Superheros#index</h1>

<ul id="superheros">
  <% @superheros.each do |superhero| %>
    <li id="superhero_<%= superhero.id %>">
      <div><%= superhero.name %></div>
      <div><%= superhero.power %></div>
      <div><%= superhero.weakness %></div>
    </li>
  <% end %>
</ul>
